
<html xmlns:th="http://www.thymeleaf.org"></html>

<head>
    <meta charset="UTF-8">
    <title>Catatan Perjalanan</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/img.png}">
    <link rel="stylesheet" th:href="@{/css/formcp.css}">

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>

</head>
<body>

<div class="container">
    <br>
    <h2>Menambahkan Catatan</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" method="post" th:action="@{/create}" th:object="${student}">
                <input th:field="*{id}" type="hidden"/>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nama Depan: </label>
                        <div class="col-sm-10">
                            <input class="form-style" th:field="*{firstName}" type="text" id="firstName" placeholder="Nama Depan" required>
                        </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Nama Belakang: </label>
                        <div class="col-sm-10">
                            <input class="form-style" th:field="*{lastName}" type="text" id="lastName" placeholder="Nama Belakang" required>
                        </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal Pergi: </label>
                    <div class="col-sm-10">
                        <input class="form-style" th:field="*{tanggal1}" type="text" id="tanggal1" placeholder="tanggal pergi" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Tanggal Pulang: </label>
                    <div class="col-sm-10">
                        <input class="form-style" th:field="*{tanggal2}" type="text" id="tanggal2" placeholder="tanggal pulang" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Kota Asal: </label>
                    <div class="col-sm-10">
                        <input class="form-style" th:field="*{kota1}" type="text" id="kota1" placeholder="Kota Asal" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Kota Tujuan: </label>
                    <div class="col-sm-10">
                        <input class="form-style" th:field="*{kota2}" type="text" id="kota2" placeholder="Kota Tujuan" required>
                    </div>
                </div>

                <div class="form-group">
                    <br>
                    <input class="btn btn-success" type="submit" value="Save">
                    <a class="btn2 btn-danger" role="button" th:href="@{/}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
