<!DOCTYPE html>


<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <title tiles:fragment="title">Catatan Perjalanan</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <style>

    </style>
</head>
<body>
<!--
 <div class="form-input-material" tiles:fragment="content">
    <form class="login-form" name="f" th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>
            <div>
            <label for="username">Username</label>
            <input type="text" id="username" name="username"/>
            </div>
            <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password"/>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div> -->

<a href="https://front.codes/" class="logo" target="_blank">
    <img src="https://assets.codepen.io/1462889/fcy.png" alt="">
</a>
<center>
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><center><span>Log In </span><span>Sign Up</span></center></h6>
                    <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
                    <label for="reg-log"></label>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="form-input-material" tiles:fragment="content">
                                    <form th:action="@{/login}" method="post">
                                    <div class="section text-center">
                                        <h4 class="mb-4 pb-3">Log In</h4>
                                        <div th:if="${param.error}" class="alert alert-error">
                                            Invalid username and password.
                                        </div>
                                        <div class="form-group">
                                            <label for="username"><p>Username</p></label>
                                            <input type="text" name="username" class="form-style" placeholder="Your Email" id="username" >
                                            <i class="input-icon uil uil-at"></i>
                                        </div>
                                        <div class="form-group mt-2">
                                            <label for="password"><p>Password</p></label>
                                            <input type="password" name="password" class="form-style" placeholder="Your Password" id="password" >
                                            <i class="input-icon uil uil-lock-alt"></i>
                                        </div>
                                        <button type="submit" class="btn mt-4">Log in</button>
                                        <p class="mb-0 mt-4 text-center"><a href="/forgot-password" class="link">Forgot your password?</a></p>
                                    </div>
                                    </form>
                                        </div>
                                </div>
                            </div>
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <div th:if="${success}">
                                            <div class="alert alert-success"><span th:text="${success}"></span></div>
                                        </div>
                                        <div th:if="${error}">
                                            <div class="alert alert-danger"><span th:text="${error}"></span></div>
                                        </div>
                                        <form  th:action="@{/signup}" method="post" th:object="${user}">
                                        <h4 class="mb-4 pb-3">Sign Up</h4>


                                        <div class="form-group">

                                            <input aria-describedby="basic-addon1" class="form-style2" id="firstName"
                                                   placeholder="First Name" th:errorClass="is-invalid"
                                                   th:field="*{firstName}" type="text"/>
                                            <i class="input-icon uil uil-user"></i>
                                            <span class="text-danger"
                                                  th:errors="*{firstName}"
                                                  th:if="${#fields.hasErrors('firstName')}"></span>
                                        </div>


                                        <div class="form-group mt-2">
                                            <input aria-describedby="basic-addon1" class="form-style2" id="lastName"
                                                   placeholder="Last Name" th:errorClass="is-invalid"
                                                   th:field="*{lastName}" type="text"/>
                                            <i class="input-icon uil uil-at"></i>
                                            <span class="text-danger"
                                                  th:errors="*{lastName}"
                                                  th:if="${#fields.hasErrors('lastName')}"></span>
                                        </div>
                                        <div class="form-group mt-2">
                                            <input aria-describedby="basic-addon3" class="form-style2" id="email"
                                                   placeholder="Email Address" th:errorClass="is-invalid"
                                                   th:field="*{email}" type="text"/>
                                            <i class="input-icon uil uil-lock-alt"></i>
                                            <span class="text-danger"
                                                  th:errors="*{email}"
                                                  th:if="${#fields.hasErrors('email')}"></span>
                                        </div>
                                            <div class="form-group mt-2">
                                                <input aria-describedby="basic-addon4" class="form-style2" id="password"
                                                       placeholder="Password" th:errorClass="is-invalid"
                                                       th:field="*{password}" type="password"/>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                                <span class="text-danger"
                                                      th:errors="*{password}"
                                                      th:if="${#fields.hasErrors('password')}"></span>
                                            </div>
                                            <button class="btn mt-4" type="submit">Register</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</center>

</body>
</html>

